<!DOCTYPE html> 
<html> 
    <head>
        <link rel="stylesheet" href="style.css" />
        <script defer src="https://kit.fontawesome.com/9754abc811.js" crossorigin="anonymous"></script>
        <title>Topspin Warehouse</title>
    </head>
    <body>
        <div class="grid-container">
            <header>
                <div class="row">
                    <a class="brand" href="index.html">Topspin</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a> 
                    <a href="signin.html"></a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <!-- use web-src -->
                            <img class="medium" src="https://img.tennis-warehouse.com/watermark/rs.php?path=BPD1H-1.jpg" alt="product"/>
                            <div class="card-body">
                                <a href="product.html"> 
                                    <h2>Babolat Pure Drive 2018</h2>
                                </a>
                                    <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    <span><i class="fa fa-star-o"></i></span>
                                    </div>
                                <div class="price">$219</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <!-- use web-src -->
                            <img class="medium" src="https://img.tennis-warehouse.com/watermark/rs.php?path=BPD1H-1.jpg" alt="product"/>
                            <div class="card-body">
                                <a href="product.html"> 
                                    <h2>Babolat Pure Drive 2018</h2>
                                </a>
                                    <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    </div>
                                <div class="price">$120</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <!-- use web-src -->
                            <img class="medium" src="https://img.tennis-warehouse.com/watermark/rs.php?path=BPD1H-1.jpg" alt="product"/>
                            <div class="card-body">
                                <a href="product.html"> 
                                    <h2>Babolat Pure Drive 2018</h2>
                                </a>
                                    <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    </div>
                                <div class="price">$120</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <!-- use web-src -->
                            <img class="medium" src="https://img.tennis-warehouse.com/watermark/rs.php?path=BPD1H-1.jpg" alt="product"/>
                            <div class="card-body">
                                <a href="product.html"> 
                                    <h2>Babolat Pure Drive 2018</h2>
                                </a>
                                    <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    </div>
                                <div class="price">$120</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <!-- use web-src -->
                            <img class="medium" src="https://img.tennis-warehouse.com/watermark/rs.php?path=BPD1H-1.jpg" alt="product"/>
                            <div class="card-body">
                                <a href="product.html"> 
                                    <h2>Babolat Pure Drive 2018</h2>
                                </a>
                                    <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    </div>
                                <div class="price">$120</div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- image size: 680px by 830px -->
                            <!-- use web-src -->
                            <img class="medium" src="https://img.tennis-warehouse.com/watermark/rs.php?path=BPD1H-1.jpg" alt="product"/>
                            <div class="card-body">
                                <a href="product.html"> 
                                    <h2>Babolat Pure Drive 2018</h2>
                                </a>
                                    <div class="rating">
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    <span><i class="fa fa-star"></i></span>
                                    </div>
                                <div class="price">$120</div>
                            </div>
                        </a>
                    </div>
                </div>
                    
            </main>
            <footer class="row center">
                Mike's E-Commerce Portfolio Storepage 
            </footer>
        </div>
    </body>
</html>