@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

html {
  /* 16px x 62.5 = 10px = 1rem */
  font-size: 62.5%; 
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}

/* Layout CSS Grid Template */
.x-grid-container {
  display: grid;
  grid-template-areas:
    "nav"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 8rem;
  height: 100%;
}

nav {
  grid-area: nav;
  background-color: #203040;
}

main {
  grid-area: main;
  padding: 1rem;
  padding-bottom: 3rem;
}

footer {
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

span.customer-username {
  color: gold;
  font-size: 1.8rem;
}

/* Common */
h1 {
  font-size: 2.5rem;
  padding: 1rem 0;
  font-weight: bold;
}
h1.text-center {
  padding: 3rem 0;
}
h2 {
  font-size: 1.7rem;
  padding: 0.8rem 0;
  font-weight: bold;
}
a {
  color: inherit;
  cursor: pointer; 
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a:hover {
  color: #ff8000;
  text-decoration: none;
}
a.x-brand:hover {
  color: gold;
  text-decoration: none;
}
ul {
  padding: 0.5rem;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1.5rem; 
  padding: 0.2rem 0;

}
li > p.show-description {
  line-height: 2.8rem; 
}
li span {
  font-size: 1.8rem;
  font-weight: bold;
}
li.x-price {
  font-size: 1.9rem;
}
li h2 {
  font-size: 2rem;
}
/* Navbar Styling */
nav a {
  color: #ffffff;
  padding: 1.2rem;
  text-decoration: none;
}
a.x-brand {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: bold;
}
/* changed font-size of nav-links */
nav div a.x-nav-link {
  font-size: 1.7rem;
}

/* CSS Flex Row Styling */
.x-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.x-row.x-center {
  justify-content: center;
}
.x-row.x-top {
  /* pushes product "divs" to top of show-page  */
  align-items: flex-start;
}

/* CSS Flex Col Styling */
.x-col-1 {
  /* flex: flex-grow (occupy 1 of 4 cols */
  /* flex: flex-shrink (shrink by 1)  */
  /* flex: flex-basis (default-width of col b4 distributing remaining space across els)  */
  flex: 1 1 25rem;
}
.x-col-2 {
  flex: 1 1 40rem;
  text-align: center;
}
.cart-rows {
  margin: 2rem 0;
}
.cart-text {
  font-size: 2.0rem;
  margin-top: 4.1rem;
}
.checkout-text{
  margin: 1.5rem 0;
}
button.checkout-text{
  margin-left: 1rem;
}
/* Image */
img {
  border-radius: 0.5rem;
}
img.x-medium {
  max-width: 29rem;
  width: 100%;
  text-align: center;
}

img.x-large {
  max-width: 50rem;
  width: 100%;
  border-radius: 1.5rem; 
  margin-top: 4rem;
  padding: 3rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
img.x-large:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Card */
.x-card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 4rem;
  padding: 4rem;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.x-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.x-card-body {
  margin-top: 1rem;
  padding: 1rem;
}
.x-card-body > * {
  margin-bottom: 1.5rem;
}
h2.x-card-link {
  font-size: 1.9rem;
}
.x-price {
  font-size: 2.3rem;
}
div div.action-text {
  font-size: 2.2rem;
}

li.error-text {
  font-size: 1.8rem;
}

/* Rating */
.x-rating span {
  color: #f0c040;
  margin: 01rem;
}

.x-rating span:last-child {
  color: #404040;
}
/* Input */
input {
  padding: 0.5rem;
  border: 0px;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2), 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
}
/* Custom Button Styling */
button {
  color: white;
  cursor: pointer;
  background-color: rgba(18, 148, 61, 0.904);
  border: 0.1rem #a4a4a4 solid;
  border-radius: 4px;
  box-shadow: 0 0 0.2em rgba(0, 0, 0, 0.2), 0 0.2em 0.2em rgba(0, 0, 0, 0.2);
  font-family: 'Poppins', sans-serif;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 1rem;
  padding: 1rem;
  text-transform: uppercase;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
button:hover{
  border: 0.1rem #404040 solid; 
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #137217;
}
.back-btn {
  font-size: 1.7rem;
  font-weight: bold;
  margin-left: 1.8rem;
}

/* In or Out-of-Stock Font-Colors */
.x-success {
  color: #20a020;
}
.x-error {
  color: #a02020;
}

/* Dynamic Alert */
.x-alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}

.x-alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
  border: 2px solid navy;
}

.x-alert-danger {
  color: #a02020;
  background-color: #ffe0e0e0;
  border: 2px solid crimson;
}
div.x-contact-details {
  width: 50vw;
  padding: 10px;
  margin: 0 auto;
}
div#about-container {
  width: 50vw;
  margin: 0 auto;
  margin-top: 10rem;
  line-height: 3rem;
  text-align: left;
}
div#about-container .about-heading {
  font-size: 1.7rem;
  font-weight: bold;

} 
div#about-container p.about-para {
  padding: 1rem 0;
}
div#about-container .about-btn {
  margin-top: 2rem;
}
.login-text {
  font-size: 2rem;
  padding-top: 2.5rem;
  color: green;
}
/* Add a background color and some padding around the form */
.x-form-container {
  width: 50vw;
  margin: 0 auto;
  margin-top: 20rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.x-contact-container {
  width: 50vw;
  margin: 0 auto;
  margin-top: 1.2rem;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

input[type=text], input[type=password], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

